body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: white;

    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
.art::before{
    content: "";
    border: solid 1px #cccccc;
}
.photoart{
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.topart{
    flex: 1;
}

.hphoto{
    flex: 1;
    width: 110px;
    border-radius: 50%;
}

.inart{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inart>p{
    flex: 1;
}
@media screen and (max-width: 850px)
{
   
    
}