.art{
    margin: auto ;
    margin-top: 80px;
    background-color: white;
    padding: 20px;
    width: 80%;
    overflow: hidden;
} 
.photoart{
   
    float: left;
    text-align: right;
    width: 12%;
}
.topart{
    float: right;
    width: 78%;
}
.topart p{
    text-indent: 0;
}
.hphoto{
  
    border-radius: 100px;
    width: 110px;
}

.inart{
    margin-top: 180px;
}
@media screen and (max-width: 850px)
{
    .photoart{
        text-align: center;
        width: 100%;
    }
    .topart{
        margin-top: 20px;
        width: 100%;
    }
}