header{
    display: block;
    padding: 0 16px;
}
.navbox{
    max-width: 1280px;
    padding: 16px 0;
    margin: auto;
}
.navbox-left{
    width: 33.33%;
}
.navbox-left img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.navbox-right li {
    position: relative;
    padding: 8px;
}
.navbox-right a{
    padding: 22px 12px;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    line-height: 24px;
}
.navbox-right{
    width: 66.66%;
    position: relative;
    z-index: 10;
}
.navbox-right-ul{
    position: relative;
    display: block;
    padding: 8px 14px;
}
.liul::before{
    content: '';
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.liul{
    display: none;
    position: absolute;
    width: 200px;
    box-shadow: 0 1px 15px rgba(27, 31, 35,.15);
    background-color: #fff;
    top: 85;
    left: -50%;
}
footer{
    margin-top: 40px;
    display: block;
}
.footerBox{
    padding:  0 16px;
    max-width: 1012px;
    margin: auto;
    border-top: 1px solid #ccc;
}
.footerBox-wx{
    width: 33.33%;
    margin: auto;
}
.footerBox-wx img{
    width: 150px;
    height: 150px;
    margin: auto;
}
.footerBox-wx p{
    padding-left: 43px;
}
.footerBox-nr {
    width: 50%;
}
.footerBox-nr p{
    margin: 15px 0;
}
.footerp{
    width: 100%;
     background-color: #fafbfc;
}
.footerp p{
    display: block;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 20px 0;
}