/* 
通用样式 
*/

body {
    font: 15px 'Microsoft YaHei', Helvetica, sans-serif;
    color: #333;
    /* height: 1900px; */
    background-color: #f6f6f6;
}

/* 导航栏 */
.navbar-default {
    background-color: #fff;
    border: 0;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .25);
}

.navbar-default .navbar-brand {
    font-size: 25px;
    height: 70px;
    line-height: 35px;
}

.navbar-default .navbar-brand:hover {
    color: #008c6c;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    height: 70px;
    font-weight: bold;
    line-height: 35px;
}

.li-active::after {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #008c6c;
}

.li-active {
    position: relative;
    color: #008c6c !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #008c6c;
}

.navbar-default .navbar-toggle:hover {
    border-color: #008c6c;
    background-color: #008c6c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #008c6c;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
    margin-top: 17px;
}

.navbar-nav .navbar-btn {
    background-color: rgb(69, 210, 184);
    margin: 0;
}
#li-section-lb{
    margin-bottom: 25px;
}
/* 导航栏 end*/
/* 尾部 */

/* 尾部 end */
#li-footer {
    color: #e0e0e0;
    background-color: #282828;
}

#li-footer .row {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #e0e0e0;
    padding: 50px 15px;

}
.footer-title{
    padding-bottom: 20px;
}


.footer-card a {
    color: #e0e0e0;
    padding: 10px 0;
}